:root{
  --base-color: white;
  --background-card: rgba(41, 41, 43, 0.5);
  --text-color: rgb(160, 174, 192); 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  background: linear-gradient(to bottom, #2a0046, #000);
  color: white;
  display: flex;
  flex-direction: column;
}

.navbar {
  background: #1b0030;
 
  border-bottom: 1px solid #444;
  padding: 1rem 0;
  
}


.nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;

}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: transform 0.3s ease-in-out;
  
  
}

.nav-links a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.nav-links img {
  width: 20px;
}
#about, #contacts{
  filter:invert(1);
}
.card {
  display: flex;

  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 1200px;
  background-color: rgba(41, 41, 43, 0.5);
  border-radius: 10px;}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about, .hobbies, .soft-skills {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.about h2, .hobbies h2, .soft-skills h2 {
  border-bottom: 2px solid #00d9ff;
  padding-bottom: 15px;
  
  font-size: 28px;
}

.about p, .hobbies p, .soft-skills li {
 color: var(--text-color);
}
.soft-skills ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  
}


.soft-skills li::before {
  content: "• ";
  color: #00d9ff;}
  


  footer {
    
    display:flex;
    justify-content: center;
    align-items: end;
    margin-top: auto;
    color: #999;
  }
  @media (max-width: 768px) {

 
    .nav-links a {
      font-size: 0.85rem; 
      gap: 0.3rem;
    }
  
    .nav-links {
      gap: 1rem;
    }
  
    .nav-links img {
      width: 16px; 
    }
  
   
    .card {
      flex-direction: column;
      padding: 2rem 1rem;
    }
    .wrapper {
      align-items: center;
    }
  }